:root {
  --text-dark: hsl(238, 29%, 16%);
  --text-red: hsl(14, 88%, 65%);
  --text-gray: hsl(237, 12%, 33%);
  --text-light-gray: hsl(240, 6%, 50%);
  --dividers: hsl(240, 5%, 91%);
  --gradient-one: #af67e9;
  --gradient-two: #6565e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: rgb(175, 103, 233);
  background: linear-gradient(
    180deg,
    rgba(175, 103, 233, 1) 35%,
    rgba(101, 101, 231, 1) 100%
  );
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  font-size: 1.2rem;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
